<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <a class="navbar-brand yanone" href="#"><img src="../assets/car.svg" width="30" height="30"/> NCR Cabs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
    <ul class="navbar-nav my-2 my-lg-0 yanone">
      <li class="nav-item">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About Us </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact  ">Contact Us </a>
      </li>
    </ul>
  </div>
</nav>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 yanone">Car Rental in Gurgaon with Driver</h1>
    <p class="lead arvo">Rent a Car in Gurgaon with Savaari, India's largest chauffeur-driven car rental service provider. With services across 98 cities, our mission is to connect India by road. Our Gurgaon car hire option gives you the flexibility of choosing from various cars like Etios, Innova or Indica depending on your needs.</p>

    <a class="btn btn-success btn-lg yanone" href="#" role="button">Know More</a>
  </div>
</div>


<div id="about">
  <div class="container">
    <h1 class="section-heading">About Us</h1>
    <p>Expanding to the US in 2011, Sixt rent a car is continually growing and broadening its services and fleet throughout the country. We look forward to offering affordable, premium car rental to more and more US locations, so keep checking back to see if we have arrived at your desired destination.
      Car Hire Companies. Hertz Car Hire. in the USA. Alamo Car Hire. in the USA. Budget Car Hire. in the USA. Dollar Car Hire. in the USA. Easirent Car Hire. in the USA. Green Motion Car Hire. in the USA. Avis Car Hire. in the USA. Mex Car Hire. in the USA</p>

    <p>Expanding to the US in 2011, Sixt rent a car is continually growing and broadening its services and fleet throughout the country. We look forward to offering affordable, premium car rental to more and more US locations, so keep checking back to see if we have arrived at your desired destination.
      Car Hire Companies. Hertz Car Hire. in the USA. Alamo Car Hire. in the USA. Budget Car Hire. in the USA. Dollar Car Hire. in the USA. Easirent Car Hire. in the USA. Green Motion Car Hire. in the USA. Avis Car Hire. in the USA. Mex Car Hire. in the USA</p>

    <p>Car Hire Companies. Hertz Car Hire. in the USA. Alamo Car Hire. in the USA. Budget Car Hire. in the USA. Dollar Car Hire. in the USA. Easirent Car Hire. in the USA. Green Motion Car Hire. in the USA. Avis Car Hire. in the USA. Mex Car Hire. in the USA</p>
  </div>
</div>


<div id="contact">
  <div class="container">
    <h1 class="section-heading">Contact Us</h1>
    <div class="row">
      <div class="col-md-6">
        <h3>Call Now</h3>
        <p>9582816659</p>
        <p>OR</p>
        <p>9582816659</p>
      </div>
      <div class="col-md-6">
        <h3>Address</h3>
        <p>G-502 Mapsko Paradise</p>
        <p>Sector 82 Gurgoan, Haryana</p>
        <p>122001 INDIA</p>
      </div>
    </div>
  </div>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3509.684286596019!2d76.96084081496137!3d28.398602182510643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d3d9dcb7837a7%3A0xab52c26c5b5f044c!2sMapsko+Paradise+Apartments!5e0!3m2!1sen!2sin!4v1523176507211" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


<div id="socialMedia">
  <div class="container">
    <h1 class="section-heading">Socail Media</h1>
    <a href="https://www.facebook.com/thecrazzyrahul"><img src="../assets/fb.png">Facebook</a>
    <a href="#"><img src="../assets/google.png">Google</a>
    <a href="#"><img src="../assets/twitter.png">Twitter</a>
  </div>
</div>


<footer>
  <div class="container">
    Design By : Rahul
  </div>
</footer>
